{% extends 'base.html' %}

{% block title %} {{ data.full_name }} - CV {% endblock %}

{% block content %}

<div class="container">
    <h1>TEST - ¿VES ESTO?</h1>
    <h2>COMENTARIOS DEBAJO:</h2>
    
    <!-- Facebook Comments -->
    <div class="container px-4 py-5">
        <h3 class="pb-2 border-bottom text-center mb-4">Comentarios</h3>
        <div class="mx-auto" style="max-width:900px;">
            <div class="fb-comments" data-href="{{ PUBLIC_URL }}{{ request.path }}" data-width="100%" data-numposts="5"></div>
        </div>
    </div>
</div>

{% endblock %}
